/* -----------------------------------------------------
            .border-btn
----------------------------------------------------- */
.border-btn {
    display: block;
    width: 200px;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 5px;
    background-color: transparent;
    border: 2px solid transparent;
    // box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    color: #000;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    transition: .25s;
    position: relative;
    transition: all 0.3s ease;
    &::before {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        width: 2px;
        height: 50%;
        background-color: #e03131;
        transition: all 0.3s ease;
    }
    & > span::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 2px;
        height: 50%;
        background-color: #e03131;
        transition: all 0.3s ease;
    }
    &::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        width: 20%;
        height: 2px;
        background-color: #e03131;
        transition: all 0.3s ease;
    }
    & > span::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 20%;
        height: 2px;
        background-color: #e03131;
        transition: all 0.3s ease;
    }
    &:focus, &:hover {
        &::before {
            height: 100%;
        }
        & > span::before {
            height: 100%;
        }
        &::after {
            width: 100%;
        }
        & > span::after {
            width: 100%;
        }
    }
}