/* ****************************************************
		   共通
***************************************************** */
/* -----------------------------------------------------
            タグ
----------------------------------------------------- */
body {
    color: #333;
    font-size: 0.875rem;
}
p {
    line-height: 1.5;
}
img {
    max-width: 100%;
}
/* -----------------------------------------------------
            外枠
----------------------------------------------------- */
$maxWidth: 1000px;
$contentWidth: 1200px;
$contentMargin: 30px;
$contentPadding: 30px;
.header__wrapper {
    max-width: $maxWidth;
    margin-right: auto;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: $contentPadding;
    padding-bottom: $contentPadding;
}
.hero__wrapper {
    max-width: $maxWidth;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: $contentMargin;
}
.footer__wrapper {
    max-width: $maxWidth;
    margin-right: auto;
    margin-left: auto;
    padding-top: $contentPadding;
    padding-bottom: $contentPadding;
}
.content__wrapper {
    max-width: $contentWidth;
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
}
/* -----------------------------------------------------
            フォントクラス
----------------------------------------------------- */
/* -----------------------------------------------------
            背景クラス
----------------------------------------------------- */
.bg-gray {
    background-color: #f5f5f5;
}
/* ****************************************************
		   クラス別
***************************************************** */
/* -----------------------------------------------------
            .recipe__img
----------------------------------------------------- */
.recipe {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.recipe__img-wrapper {
    max-width: 40vw;
    margin-right: 2%;
}
.recipe__img {
    width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}
/* -----------------------------------------------------
            .menu
----------------------------------------------------- */

.menu1__heading {
    font-size: 2rem;
    padding-top: 30px;
    margin-bottom: 20px;
}
.menu2__heading {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
}
.menu__text {
    font-size: 1.125rem;
    margin-bottom: 40px;
}

/* -----------------------------------------------------
            .food-stuff
----------------------------------------------------- */
.food-stuff__body {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.food-stuff__name {
    width: 75%;
    margin-bottom: 1em;
    padding-left: .5em;
}
.food-stuff__stock {
    width: 25%;
    text-align: right;
}
/* -----------------------------------------------------
            .making
----------------------------------------------------- */
.making-list {
    margin-top: 10px;
    counter-reset: child-order-list;
    & > *:last-child {
        margin-bottom: 0;
    }
}  
.making__text {
position: relative;
margin-left: .5em;
margin-top: 10px;
margin-bottom: 1em;
padding-left: 1em;
&::before {
    content: counter(child-order-list) '. ';
    position: absolute;
    top: 0;
    left: 0;
    color: #333;
    counter-increment: child-order-list;
    }
}
