@import "mixin";
/* ****************************************************
		   要素型
***************************************************** */
body {
    color: #333;
    font-size: 0.875rem;
}
p {
    line-height: 1.5;
}
img {
    max-width: 100%;
}
/* ****************************************************
		   コンテンツ
***************************************************** */
$maxWidth: 1000px;
$contentWidth: 760px;
.header {
    max-width: $maxWidth;
    margin-right: auto;
    margin-left: auto;
}
.hero {
    margin-right: auto;
    margin-left: auto;
    padding: 0 20px;
    height: calc(720 / 1200 * 90vw);
    position: relative;
}
.footer {
    max-width: $maxWidth;
    margin-right: auto;
    margin-left: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}
.reason {
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: hidden;
}
/* -----------------------------------------------------
            FONT
----------------------------------------------------- */
.level2-heading {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 100px;
}

/* ****************************************************
		   クラス別
***************************************************** */
/* -----------------------------------------------------
            .hero
----------------------------------------------------- */
.hero-image__item {
    position: absolute;
    width: 75%;
    top: 0;
    right: 0;
    opacity: 0;
    z-index: -1;
    filter: drop-shadow(0 0 10px white);
    @include animation(
        $name: fadeImages,
        $duration: 15s,
        $iteration-count: infinite,
        $timing-function: ease-in-out,
    );
    
    @for $i from 1 through 3 {
        &:nth-child(#{$i}) {
            animation-delay: 0s + ($i - 1) * 5s ;
        }
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        box-shadow: inset 0px 0px 20px 20px #fff;
    }
}
@keyframes fadeImages {
    0% {
        opacity: 0;
    }
    15% {
        opacity: 1;
      }
    30% {
        opacity: 1;
    }
    45% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
.hero-image__image {
    width: 100%;
    object-fit: cover;
}

.hero__title {
    position: absolute;
    width: 40%;
    top: 40%;
    left: 4%;
    transform: translateY(-50%);
    z-index: 1;
    padding: 4%;
    color: #fff;
    font-size: 3vmax;
    font-weight: bold;
    background-color: rgba(255, 0, 0, 0.8);
    border-radius: 8px;
}
/* -----------------------------------------------------
            .reason
----------------------------------------------------- */
.reason__inner {
    background-color: #ff2a2a;
    padding: 5% 0;
}
.reason__body-left{
    width: 50%;
    padding: 4%;
    margin-bottom: 32px;
    background-color: #fff;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
    transform: translateX(-100%);
    opacity: 0;
    transition: all 0.7s ease-out;
}
.reason__body-right {
    width: 50%;
    margin-left: 50%;
    padding: 5%;
    background-color: #fff;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: center;
    transform: translateX(100%);
    opacity: 0;
    transition: all 0.7s ease-out;
}
.scroll-in {
    transform: none;
    opacity: 1;
}
.reason__title {
    margin-bottom: .5em;
    font-size: 1.75rem;
    letter-spacing: .1em;
    color:rgb(255, 0, 0);
    font-weight: bold;
}
.reason__text {
    font-size: 1rem;
    letter-spacing: .1em;
}