@charset "UTF-8";
/* ****************************************************
		   要素型
***************************************************** */
body {
  color: #333;
  font-size: 0.875rem;
}

p {
  line-height: 1.5;
}

img {
  max-width: 100%;
}

/* ****************************************************
		   コンテンツ
***************************************************** */
.header {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.hero {
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px;
  height: calc(720 / 1200 * 90vw);
  position: relative;
}

.footer {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.reason {
  padding-top: 30px;
  padding-bottom: 30px;
  overflow: hidden;
}

/* -----------------------------------------------------
            FONT
----------------------------------------------------- */
.level2-heading {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 100px;
}

/* ****************************************************
		   クラス別
***************************************************** */
/* -----------------------------------------------------
            .hero
----------------------------------------------------- */
.hero-image__item {
  position: absolute;
  width: 75%;
  top: 0;
  right: 0;
  opacity: 0;
  z-index: -1;
  -webkit-filter: drop-shadow(0 0 10px white);
          filter: drop-shadow(0 0 10px white);
  -webkit-animation-name: fadeImages;
          animation-name: fadeImages;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.hero-image__item:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.hero-image__item:nth-child(2) {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.hero-image__item:nth-child(3) {
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

.hero-image__item::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-box-shadow: inset 0px 0px 20px 20px #fff;
          box-shadow: inset 0px 0px 20px 20px #fff;
}

@-webkit-keyframes fadeImages {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeImages {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.hero-image__image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero__title {
  position: absolute;
  width: 40%;
  top: 40%;
  left: 4%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
  padding: 4%;
  color: #fff;
  font-size: 3vmax;
  font-weight: bold;
  background-color: rgba(255, 0, 0, 0.8);
  border-radius: 8px;
}

/* -----------------------------------------------------
            .reason
----------------------------------------------------- */
.reason__inner {
  background-color: #ff2a2a;
  padding: 5% 0;
}

.reason__body-left {
  width: 50%;
  padding: 4%;
  margin-bottom: 32px;
  background-color: #fff;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  text-align: center;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
  -webkit-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
}

.reason__body-right {
  width: 50%;
  margin-left: 50%;
  padding: 5%;
  background-color: #fff;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  text-align: center;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
  -webkit-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
}

.scroll-in {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
}

.reason__title {
  margin-bottom: .5em;
  font-size: 1.75rem;
  letter-spacing: .1em;
  color: red;
  font-weight: bold;
}

.reason__text {
  font-size: 1rem;
  letter-spacing: .1em;
}
/*# sourceMappingURL=style.css.map */