/* -----------------------------------------------------
            FONT
----------------------------------------------------- */
.level2-heading {
    text-align: center;
    font-size: 1.25rem;
    margin-bottom: 20px;
}
.main-text {
    text-align: center;
    margin-bottom: 20px;
}
/* -----------------------------------------------------
            BACKGROUND
----------------------------------------------------- */
.bg-gray {
    background-color: #f5f5f5;
}
// -- FULL -- //
.header-full-image {
    height: 100vh;
    background-image: url();
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}
/* -----------------------------------------------------
            BTN
----------------------------------------------------- */
.global-btn {
    display: block;
    width: 200px;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 5px;
    background-color: transparent;
    border: 1px solid #333;
    // box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    color: #000;
    font-size: .75rem;
    text-align: center;
    text-decoration: none;
    transition: .25s;
}
/* -----------------------------------------------------
            navigation
----------------------------------------------------- */

.header-nav {
    display: flex;
    justify-content: space-around;
}
  
.header-nav__item {
    flex-grow: 1;
    text-align: center;
}
  
.header-nav__item:last-child .header-nav__link::after {
    content: none;
}
  
.header-nav__link {
    position: relative;
    display: block;
    padding: 15px 5px;
    border-bottom: 4px solid transparent;
    color: #222;
    text-decoration: none;
    transition: .25s;
}
  
.header-nav__link:focus,
.header-nav__link:hover {
    border-bottom-color: #e25c00;
}
  
.header-nav__link::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 1px;
    height: 20px;
    background-color: #ddd;
    transform: translateY(-50%);
}
/* -----------------------------------------------------
            half-media
----------------------------------------------------- */

.half-media {
    display: flex;
    align-items: center;
}
  
.half-media__img-wrapper {
    flex: 0 1 48.33333%;
    margin-right: 3.33333%;
}

.half-media__img {
    width: 100%;
}

.half-media__body {
    flex: 1;
}

.half-media__body > *:last-child {
    margin-bottom: 0;
}

.half-media__title {
    margin-bottom: 10px;
    font-size: 1.125rem;
    font-weight: bold;
}

// .half-media__text {
    
// }

@media screen and (max-width: 768px) {
    .half-media {
        display: block;
    }

    .half-media__img-wrapper {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

// -- row-reverse -- //
.media--reverse {
    flex-direction: row-reverse;
}
  
.media--reverse .media__img-wrapper {
    margin-right: 0;
}
  
.media--reverse .media__body {
    margin-right: 3.33333%;
    text-align: right;
}
  
  @media screen and (max-width: 768px) {
    .media--reverse .media__body {
      margin-right: 0;
    }
}

/* -----------------------------------------------------
            card 1col
----------------------------------------------------- */
.card {
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  }
  
.card__img-wrapper {
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
}
  
.card__img {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}
  
.card__body {
    padding: 15px;
}
  
.card__body > *:last-child {
    margin-bottom: 0;
}
  
.card__title {
    margin-bottom: 5px;
    font-size: 1.125rem;
    font-weight: bold;
}
  
.card__text {
    color: #777;
}

/* -----------------------------------------------------
            picture > source
----------------------------------------------------- */
.hero-picture__img-pc {
    width: 100%;
    max-width: 1920px;
    height: 420px;
    background-position: center;
    object-fit: cover;
}

/* -----------------------------------------------------
            three-images
----------------------------------------------------- */
.three-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    & .three-images__item {
        width: 30%;
        margin-bottom: 24px;
        margin-right: 20px;
        &:nth-child(3n) {
            margin-right: 0;
        }
    }
}
/* -----------------------------------------------------
            absoluteで中央配置
----------------------------------------------------- */
.center {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    margin:  0 auto;
    padding: 20px 0 20px;
    width: 80%;
    background-color: rgba(0,0,0, .5);
}