/* ****************************************************
		   共通
***************************************************** */
/* -----------------------------------------------------
            タグ
----------------------------------------------------- */
body {
    color: #333;
    font-size: 0.875rem;
}
p {
    line-height: 1.5;
}
img {
    max-width: 100%;
}
/* -----------------------------------------------------
            外枠
----------------------------------------------------- */
$maxWidth: 1000px;
$contentWidth: 760px;
$contentMargin: 30px;
$contentPadding: 30px;

.header__wrapper {
    max-width: $maxWidth;
    margin-right: auto;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: $contentPadding;
    padding-bottom: $contentPadding;
}
.content__wrapper {
    max-width: $contentWidth;
    margin-right: 20px;
    margin-left: 20px;
    padding-top: $contentPadding;
    padding-bottom: $contentPadding;
}
.main-visual__wrapper {
    max-width: $maxWidth;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: $contentMargin;
}
.footer__wrapper {
    max-width: $maxWidth;
    margin-right: auto;
    margin-left: auto;
    padding-top: $contentPadding;
    padding-bottom: $contentPadding;
}
/* -----------------------------------------------------
            フォントクラス
----------------------------------------------------- */
/* -----------------------------------------------------
            背景クラス
----------------------------------------------------- */
.bg-gray {
    background-color: #f5f5f5;
}
/* ****************************************************
		   クラス別
***************************************************** */
/* -----------------------------------------------------
            .header
----------------------------------------------------- */
