/* ****************************************************
		   要素型
***************************************************** */
body {
    color: #333;
    font-size: 0.875rem;
}
p {
    line-height: 1.5;
}
img {
    max-width: 100%;
}
/* ****************************************************
		   コンテンツ
***************************************************** */
$maxWidth: 1000px;
$contentWidth: 760px;
.header {
    max-width: $maxWidth;
    margin-right: auto;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.hero {
    max-width: $maxWidth;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
}
.footer {
    max-width: $maxWidth;
    margin-right: auto;
    margin-left: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}
.content {
    max-width: $contentWidth;
    margin-right: auto;
    margin-left: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* ****************************************************
		   クラス別
***************************************************** */
/* -----------------------------------------------------
            .header
----------------------------------------------------- */
